.container {
  padding: 1rem;
  min-height: calc(100vh - 12.125rem);
  display: flex;
  flex-direction: column;

  @media (min-width: 48rem) {
    min-height: calc(100vh - 7.875rem);
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.metric {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 48rem) {
    margin-bottom: 0;
  }
}
